<html>

<head>
	<title>Crossfit Open 18.2 Calculator / Estimator</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/carbon-components@8.16.0/css/carbon-components.min.css" />
    <script src="angular.js"></script>
<script>
var app = angular.module("App", []);
app.controller("Controller", function($scope, $http, $interval, $timeout) {
	$scope.time = function(s) {
		if (typeof s!="number") { return "x"; }
		var m = Math.floor(s/60);
		s = (s-m*60);
		if (s<10) { s="0"+s; }
		return m+":"+s;
	};

    $scope.squat_prep = 4;
    $scope.squat = 3;
    $scope.burpee = 4;
    $scope.transition = 2;
});
</script>
<style>
table, th, td { border:1px solid black; }
th, td { padding:5px; text-align:center; }
th { font-weight:bold; }
input { width:50px; }
h2 { margin-top:20px; }
</style>
</head>

<body ng-app="App">

<div ng-controller="Controller">

<h1>Crossfit Open 18.2 Calculator</h1>

<h2>Setup</h2>

<h4>How many seconds will each portion of the workout take?</h4>
<div>Prep for Squat (weights to shoulders, get set): <input type="number" ng-model="squat_prep" size="5"> seconds</div>
<div>Squat: <input type="number" ng-model="squat" size="5"> seconds</div>
<div>Transition from squats to burpees and burpees to squats: <input type="number" ng-model="transition" size="5"> seconds</div>
<div>Burpee + bar hop:</strong> <input type="number" ng-model="burpee" size="5"> seconds</div>

<h2>Estimated Time</h2>

<table>
<thead>
    <th>Round</th>
    <th>Seconds</th>
    <th>Round Finish Time</th>
</thead>
<tbody>
    <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
        <td>{{i}}</td>
        <td>{{ squat_prep + (i*squat) + transition + (i*burpee) + transition }}</td>
        <td>{{ time( (((i*(i+1))/2 ) * (squat+burpee)) + ( i*squat_prep + i*2*transition ) ) }}</td>
    </tr>
</tbody>
</table>

</body>
</html>
