<html>

<head>
	<title>Crossfit Open 2020 Leaderboard</title>
	<meta name="title" content="Crossfit Open 2020 Leaderboard" />
	<meta name="description" content="See how you rank compared to other athletes in your gym, or several gyms. A sortable summary of your 2020 Crossfit Open results!" />
	<meta property="og:image" content="http://MyOpenLeaderboard.com/share2.jpg" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150530649-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-150530649-1');
    </script>
    <link type="text/css" rel="stylesheet" href="index.css" />
    <link rel="icon" type="image/png" href="favicon.png">
    <script src="angular.min.js"></script>

    <script src="chart.min.js"></script>
    <script src="angular-chart.min.js"></script>
    <script src="index.js"></script>
    <style>
        #promo {
            width:400px;
            max-width:33vw;
            float:right;
            border:3px solid #0C4C95;
            margin:5px;
            padding:15px;
            border-radius:10px;
            box-shadow: 10px 10px 12px #aaa;
        }
        #promo img { border:none; }
        #promo li { font-size:1rem !important; }
        #promo h2 { font-weight:bold; }
    </style>
    <script>
      function hide_donate(a) {
        a.href = window.location.href.replace(/\#$/,'') + "&show_donate=0";
        return true;
      }
    </script>
</head>

<body ng-app="App">

<div ng-controller="Controller">
<div ng-if="!ids" class="search">
    <div id="promo">
        <h2>Thank You!</h2>
		<p style="margin-top:20px;">If you would like to support the site, donations are welcome!</p>
        <p>Hi! My name is <a href="http://MattKruse.com" target="_blank">Matt Kruse</a>. Development and hosting of this app costs me real time and money. To offset my time and <a href="https://aws.amazon.com/" target="_blank">AWS</a> costs, I'm asking the awesome Crossfit community to <b>donate to support this site</b> during the 2020 Open. It will help me justify to my wife the hours I spend on this ;) <b>Thanks!</b></p>
        <div>
            <embed height="180px" width="100%" src="https://www.gofundme.com/mvc.php?route=widgets/mediawidget&fund=MyOpenLeaderboard&image=0&coinfo=0&preview=1" type="text/html"></embed>
            Or use Paypal: <a href="https://www.paypal.me/krusematt" target="_blank"><img src="paypal_pay.gif" alt="Paypal"></a>
        </div>
		<!--
        <div>
            <h4>Potential features coming for 2020:</h4>
            <ul>
                <li>Improved look and feel</li>
                <li>Manual entry of scores (participate even if you haven't registered for the Open!)</li>
                <li>Saved and shareable leaderboards?</li>
                <li>Alexa integration?</li>
            </ul>
        </div>
		-->
    </div>
    <div class="flex">
        <div id="logo" class="flex-left">
            <img ng-src="{{logo}}">
            <div style="padding:15px;border:1px solid #ddd;margin:10px;display:inline-block;">
                Previous Years:<br>
                <a href="2018/index.html">2018</a><br>
                <a href="2019/index.html">2019</a>
            </div>
        </div>
        <div class="flex-content">
            <h1>2020 Crossfit Open Leaderboard</h1>
            <p>
                MyOpenLeaderboard lets you view results of the Crossfit Open in a customizable way.
                You can combine multiple affiliates and/or individual athletes into a single leaderboard. Compare results within your gym, or across all gyms in your town, or maybe create a custom leaderboard with just your friends.
            </p>
            <p>
                The generated Leaderboard can be sorted and filtered, and offers a lot more detailed information than the official Leaderboard from Crossfit. You can even compare results across divisions, or combine RX and Scaled into one view.
            </p>
            <p>
                <b>New for 2020:</b> Enter your own scores without signing up for the Open! Scores entered on this site can be included on Leaderboards from this site. So even if someone isn't officially in the Open, you can include their scores.
                <input type="button" onclick="location.href='user.html'" class="bx--btn bx--btn--primary" style="background-color:#0C4C95;color:white;display:inline-block;" value="Manual Score Entry">
            </p>
            <form method="get" action="index.html">
                <div>
                    <h3>Build Your Leaderboard</h3>
                    <p>Enter an affiliate ID (ex: 1234) or multiple comma-separated affiliate ID's (1234,5677).</p>
                    <div class="search__box">
                        <b>Affiliates:</b> <input id="a" name="affiliates" class="bx--text-input">
                        <div>
                            To find an affiliate ID, search by name and click on a result: <input id="aac" size="15" ng-keyup="aac_update(this)"/>
                            <div ng-if="aac_searching">Searching ...</div>
                            <div ng-if="aac_list.length==0">No matches</div>
                            <div id="aac-results" ng-if="aac_list.length>0">
                                <div ng-repeat="a in aac_list" class="aac-item" style="cursor:pointer;border:1px solid #333;font-size:80%;margin:2px;padding:2px;display:inline-block;background-color:#E9F1F4;" ng-click="affiliate_select(a.id.substring(1))">{{a.label}} ({{a.id.substring(1)}})</div>
                            </div>
                        </div>
                    </div>

                    <div style="font-weight:bold;font-size:120%;"> AND / OR </div>

                    <p>Enter an athlete ID (ex: 1234) or multiple comma-separated athlete ID's (12345,5000010). To include an athlete with manually-entered scores, enter the ID assigned to them when their user was created. It will be greater than 5000000.</p>
                    <div class="search__box">
                        <b>Athletes:</b> <input id="c" name="athletes" class="bx--text-input">
                        <div>
                            To find an athlete ID, search by name and click on a result: <input id="cac" size="15" ng-keyup="cac_update(this)"/>
                            <div ng-if="cac_searching">Searching ...</div>
                            <div ng-if="cac_list.length==0">No matches</div>
                            <div id="cac-results" ng-if="cac_list.length>0">
                                <span ng-repeat="a in cac_list" class="cac-item" style="cursor:pointer;border:1px solid #333;font-size:80%;margin:2px;padding:2px;display:inline-block;background-color:#E9F1F4;" ng-click="athlete_select(a.id)">{{a.name}} @ {{a.affiliate}} ({{a.id}})</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input class="bx--btn bx--btn--primary" type="submit" value="Build Your Leaderboard!" style="background-color:#E90827;color:white;">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br style="clear:left;"/>
    <div>
      <h2><a href="http://MyOpenLeaderboard.com/2018/index.html?affiliates=505">Sample Output</a>:</h2>
        <a href="http://MyOpenLeaderboard.com/2018/index.html?affiliates=505" target="_blank"><img src="sample.jpg" style="max-width:95vw;border:1px solid #aaa;"></a>
    </div>
    <p>This Leaderboard is not affiliated with Crossfit or Crossfit.com!</p>
</div>

<div ng-if="ids" class="affiliates">
	<div ng-if="athletes==null" class="loading">
        <div class="bx--loading-overlay">
            <div data-loading class="bx--loading">
                <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
                    <title>Loading</title>
                    <circle cx="0" cy="0" r="37.5" />
                </svg>
            </div>
            <span class="bx--loading__percent">Loading</span>
        </div>
    </div>
	<div ng-if="athletes && athletes.length==0" class="none-found">
        No athletes found for that affiliate ID <br><a href="/">Search again</a>
    </div>
	<div id="results" ng-if="athletes && athletes.length>0">
        <div ng-if="show_header">
            <img ng-if="leaderboard_logo" ng-src="{{leaderboard_logo}}" style="float:left;margin-right:20px;">
            <div class="header__results"><h3 style="display:inline-block;"><a href="index.html" style="text-decoration:none;color:inherit;">Crossfit Open 2020 Leaderboard</a> <span ng-if="title">- <strong>{{title}}</strong></span></h3> <span class="reload">[Auto reload in {{counter}} minutes]</span></div>
            <div>
                <div style="color:#666;font-size:90%;">
                    Not affiliated with Crossfit.com.
                    <a style="padding-left:15px;cursor:pointer;text-decoration:underline;" onclick="download_to_excel(this,document.getElementById('leaderboard'))">Download XLS</a>
                    <span style="padding-left:15px;cursor:pointer;text-decoration:underline;" ng-click="show_whats_new=!show_whats_new">What's New?</span>
                    <span style="padding-left:15px;cursor:pointer;text-decoration:underline;" ng-click="show_help=!show_help">Help</span>
                </div>
                <div ng-if="show_donate" style="display:inline-block;border:3px solid #3D70B2;width:auto;padding:10px;margin:5px 5px 10px 5px;max-width:1000px;border-radius:10px;box-shadow:5px 5px 10px #999;">

                    My name is <a href="https://MattKruse.com" target="_blank">Matt Kruse</a>. For the last 3 Opens, I've invested many hours coding, improving, and maintaining this site.
                    <br>
                    For 2020, almost <b>1,000 visitors</b>/day have loaded <b>900</b> affiliates and <b>850</b> individual athletes. Hundreds of people using the <a href="user.html">manual entry</a> form to include their scores on leaderboards without officially signing up.
                    <br><br>
                    I do this as a labor of love for the Crossfit community. If you'd like to help out with <a href="https://aws.amazon.com/" target="_blank">AWS</a> costs or help me buy some new Nano 9's, donations during this final week are greatly appreciated!
                    <br>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9ZLEY9XZFX6YW&source=url" target="_blank"><img src="buttons/button_paypal.png"></a> <a href="https://www.gofundme.com/MyOpenLeaderboard/donate?pc=wd_md_donate_r" target="_blank"><img src="buttons/button_gofundme.png"></a>
                    <br>
                    <b>Thank you!!!</b>
                    <i style="font-size:80%;">(To hide this message, add <a href="#" onclick="hide_donate(this)">&show_donate=0</a> to your url)</i>

                    <!--
                    <br>
                    Or, if you prefer, use my postal address where you can send a t-shirt or socks from your gym. :)
                    <div>
                      Matt Kruse<br>
                      PO Box 165<br>
                      Hampton, IL 61256
                    </div>
                    -->
                </div>

                </div>
                <div ng-if="show_whats_new" class="info_box">
                    <div><b>2019-10-04</b></div>
                    <div>
                        <ul>
                            <li>Updated for 2020!
                        </ul>
                    </div>
                </div>
                <div style="margin:5px 0 5px 10px;">Show:
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:filters.sex=='M'}" type="button" value="Male" ng-click="apply_filter('sex','M')">
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:filters.sex=='F'}" type="button" value="Female" ng-click="apply_filter('sex','F')">
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:filters.sex==''}" type="button" value="All" ng-click="apply_filter('sex','')">
                    <span class="spacer">|</span>
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:filters.scaled=='0'}" type="button" value="RX" ng-click="apply_filter('scaled','0')">
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:filters.scaled=='1'}" type="button" value="Scaled" ng-click="apply_filter('scaled','1')">
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:filters.scaled==''}" type="button" value="All" ng-click="apply_filter('scaled','')">
                    <span class="spacer">|</span>
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:show_teens}" type="button" value="Teens" ng-click="apply_toggle('show_teens')">
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:show_masters}" type="button" value="Masters" ng-click="apply_toggle('show_masters')">
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:show_others}" type="button" value="Others" ng-click="apply_toggle('show_others')">
                    <span class="spacer">|</span>
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:show_division}" type="button" value="Division" ng-click="$parent.show_division=!$parent.show_division">
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:show_country}" type="button" value="Country" ng-click="$parent.show_country=!$parent.show_country">
                    <input class="bx--btn bx--btn--secondary filter-button" ng-class="{selected:show_chart}" type="button" value="Chart" ng-click="toggle_chart()">
                </div>
                <div ng-if="show_help" class="info_box">
                    <h3>Help</h3>
                    <div>Click on column headers to sort by any column.</div>
                    <div>Click on a row to highlight it yellow. This is useful to find yourself in the list, and track your rown as you sort by different columns.</div>
                    <div>Click on any athlete to visit their Crossfit Games profile</div>
                    <div>Parameters can be passed in via url. Available parameters:
                        <ul>
                            <li><b>affiliates=123,456 : </b>A comma-separated list of affiliate ID's to load
                            <li><b>athletes=123,456 : </b>A comma-separated list of athlete ID's to load
                            <li><b>show_division=[1,0] : </b>Show the division column by default (1=yes, 0=no)
                            <li><b>sex=[M,F] : </b>Show only Male or Female by default
                            <li><b>scaled=[1,0] : </b>Show only rx (0) or scaled (1) athletes by default
                            <li><b>highlight=123,456 : </b>A comma-separated list of athlete ID's to highlight by default
                            <li><b>show_header=[1,0] : </b>Show or hide the entire header with filters, text, etc. Useful if you display this on a monitor in your gym!
                            <li><b>title=XYZ : </b>Add a custom title to the results table header</li>
                        </ul>
                    </div>
                    <div style="margin-top:5px;">Example URL: <a href="http://MyOpenLeaderboard.com?affiliates=11328&highlight=759861&show_division=1&sex=M&show_header=0">http://MyOpenLeaderboard.com?affiliates=11328&highlight=759861&show_division=1&sex=M&show_header=0</a></div>
                </div>
                <div style="width:90vw;height:80vh;margin:10px;border:1px solid black;padding:20px 10px 40px 10px;" ng-if="show_chart">
                    <div class="chart-selector">
                        <span ng-class="{selected:chart_workout==0}" ng-click="update_chart(0)">20.1</span>
                        <span ng-class="{selected:chart_workout==1}" ng-click="update_chart(1)">20.2</span>
                        <span ng-class="{selected:chart_workout==2}" ng-click="update_chart(2)">20.3</span>
                        <span ng-class="{selected:chart_workout==3}" ng-click="update_chart(3)">20.4</span>
                        <span ng-class="{selected:chart_workout==4}" ng-click="update_chart(4)">20.5</span>
                    </div>
                    <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
                    <div>(Hover over data points to see score/athlete)</div>
                </div>
            </div>
        </div>

        <table id="leaderboard" style="width:auto;margin-top:10px;clear:both;">
        <thead>
            <tr>
                <th rowspan="2" ng-click="sort('entrant.competitorName')">Name</th>
                <th rowspan="2" ng-click="sort('entrant.affiliateName')" ng-if="show_affiliate">Affiliate</th>
                <th rowspan="2" ng-click="sort('entrant.divisionId')" ng-if="show_division">Division</th>
                <th rowspan="2" ng-click="sort('entrant.countryOfOriginName')" ng-if="show_country">Country</th>
                <th colspan="3">Overall</th>
                <th class="workout_header" colspan="{{(show_20_1?2:1)}}" ng-click="show_20_1=1-show_20_1">20.1</th>
                <th class="workout_header" colspan="{{(show_20_2?4:1)}}" ng-click="show_20_2=1-show_20_2">20.2</th>
                <th class="workout_header" colspan="{{(show_20_3?4:1)}}" ng-click="show_20_3=1-show_20_3">20.3</th>
                <th class="workout_header" colspan="{{(show_20_4?4:1)}}" ng-click="show_20_4=1-show_20_4">20.4</th>
                <th class="workout_header" colspan="{{(show_20_5?4:1)}}" style="padding-right:0;" ng-click="show_20_5=1-show_20_5">20.5</th>
            </tr>
            <tr>
                <th class="separator" ng-click="sort('_rank')">Rank</th>
                <th ng-click="sort('_rank_total')">Score</th>
                <th ng-click="sort('_pct')">Rank<br>Pct</th>

                <th ng-show="show_20_1" class="separator" ng-click="sort('-scores[0].score')">Score</th>
                <th xng-show="show_20_1" ng-class="{separator:!show_20_1}" ng-click="sort('scores[0]._workout_rank')">WO<br>Rank</th>

                <th ng-show="show_20_2" class="separator" ng-click="sort('-scores[1].score')">Score</th>
                <th xng-show="show_20_2" ng-class="{separator:!show_20_2}" ng-click="sort('scores[1]._workout_rank')">WO<br>Rank</th>
                <th ng-show="show_20_2" ng-click="sort('scores[1]._overall_rank')">Overall<br>Rank</th>
                <th ng-show="show_20_2" ng-click="sort('-scores[1].rankchange',true)">Rank<br>Change</th>

                <th ng-show="show_20_3" class="separator" ng-click="sort('-scores[2].score')">Score</th>
                <th xng-show="show_20_3" ng-class="{separator:!show_20_3}" ng-click="sort('scores[2]._workout_rank')">WO<br>Rank</th>
                <th ng-show="show_20_3" ng-click="sort('scores[2]._overall_rank')">Overall<br>Rank</th>
                <th ng-show="show_20_3" ng-click="sort('-scores[2].rankchange',true)">Rank<br>Change</th>

                <th ng-show="show_20_4" class="separator" ng-click="sort('-scores[3].score')">Score</th>
                <th xng-show="show_20_4" ng-class="{separator:!show_20_4}" ng-click="sort('scores[3]._workout_rank')">WO<br>Rank</th>
                <th ng-show="show_20_4" ng-click="sort('scores[3]._overall_rank')">Overall<br>Rank</th>
                <th ng-show="show_20_4" ng-click="sort('-scores[3].rankchange',true)">Rank<br>Change</th>

                <th ng-show="show_20_5" class="separator" ng-click="sort('-scores[4].score')">Score</th>
                <th xng-show="show_20_5" ng-class="{separator:!show_20_5}" ng-click="sort('scores[4]._workout_rank')">WO<br>Rank</th>
                <th ng-show="show_20_5" ng-click="sort('scores[4]._overall_rank')">Overall<br>Rank</th>
                <th ng-show="show_20_5" ng-click="sort('-scores[4].rankchange',true)">Rank<br>Change</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in athletes | orderBy:[sortby,'_rank','entrant.competitorName']" ng-click="highlight[a.entrant.competitorId]=!highlight[a.entrant.competitorId]" ng-class="{'selected':(highlight[a.entrant.competitorId])}">
                <td>{{$index+1}}. <a ng-if="a.entrant.competitorId<5000000" href="{{user_base_url}}{{(a.reddit ? a.entrant.competitorName : a.entrant.competitorId)}}" style="color:#006;text-decoration:none;" ng-click="a.selected = !a.selected" target="_blank">{{a.entrant.competitorName}}</a><span ng-if="a.entrant.competitorId>=5000000">{{a.entrant.competitorName}}</span></td>
                <td ng-if="show_affiliate">{{a.entrant.affiliateName}}</td>
                <td ng-if="show_division">{{divisions[a.entrant.divisionId]}}</td>
                <td ng-if="show_country">{{a.entrant.countryOfOriginName}}</td>
                <td class="separator">{{a._rank}}</td>
                <td>{{a._total_rank}}</td>
                <td>{{a._pct|number:0}}%</td>

                <td ng-show="show_20_1" class="separator" title="{{a.scores[0].breakdown}} ({{a.scores[0].score}})" ng-class="{'empty':(a.scores[0].score=='0'&&a.scores[0]._workout_rank>1)}">{{a.scores[0].scoreDisplay}}<span ng-if="a.scores[0].scoredetails.time" class="time"> ({{time(a.scores[0].scoredetails.time)}})</span></td>
                <td ng-class="{separator:!show_20_1}">{{a.scores[0]._workout_rank}}</td>

                <td ng-show="show_20_2" class="separator" title="{{a.scores[1].breakdown}} ({{a.scores[1].score}})" ng-class="{'empty':(a.scores[1].score=='0'&&a.scores[1]._workout_rank>1)}">{{a.scores[1].scoreDisplay}}<span ng-if="a.scores[1].scoredetails.time" class="time"> ({{time(a.scores[1].scoredetails.time)}})</span></td>
                <td ng-class="{separator:!show_20_2}">{{a.scores[1]._workout_rank}}</td>
                <td ng-show="show_20_2" title="Overall Score: {{a.scores[1]._overall_score}}">{{a.scores[1]._overall_rank}}</td>
                <td ng-show="show_20_2">
                    <span ng-if="a.scores[1].rankchange==0">-</span>
                    <span ng-if="a.scores[1].rankchange>0" class="positive">+{{a.scores[1].rankchange}}</span>
                    <span ng-if="a.scores[1].rankchange<0" class="negative">{{a.scores[1].rankchange}}</span>
                </td>

                <td ng-show="show_20_3" class="separator" title="{{a.scores[2].breakdown}} ({{a.scores[2].score}})" ng-class="{'empty':(a.scores[2].score=='0'&&a.scores[2]._workout_rank>1)}">{{a.scores[2].scoreDisplay}}<span ng-if="a.scores[2].scoredetails.time" class="time"> ({{time(a.scores[2].scoredetails.time)}})</span></td>
                <td ng-class="{separator:!show_20_3}">{{a.scores[2]._workout_rank}}</td>
                <td ng-show="show_20_3" title="Overall Score: {{a.scores[2]._overall_score}}">{{a.scores[2]._overall_rank}}</td>
                <td ng-show="show_20_3">
                    <span ng-if="a.scores[2].rankchange==0">-</span>
                    <span ng-if="a.scores[2].rankchange>0" class="positive">+{{a.scores[2].rankchange}}</span>
                    <span ng-if="a.scores[2].rankchange<0" class="negative">{{a.scores[2].rankchange}}</span>
                </td>

                <td ng-show="show_20_4" class="separator" title="{{a.scores[3].breakdown}} ({{a.scores[3].score}})" ng-class="{'empty':(a.scores[3].score=='0'&&a.scores[3]._workout_rank>1)}">{{a.scores[3].scoreDisplay}}<span ng-if="a.scores[3].scoredetails.time" class="time"> ({{time(a.scores[3].scoredetails.time)}})</span></td>
                <td ng-class="{separator:!show_20_4}">{{a.scores[3]._workout_rank}}</td>
                <td ng-show="show_20_4" title="Overall Score: {{a.scores[3]._overall_score}}">{{a.scores[3]._overall_rank}}</td>
                <td ng-show="show_20_4">
                    <span ng-if="a.scores[3].rankchange==0">-</span>
                    <span ng-if="a.scores[3].rankchange>0" class="positive">+{{a.scores[3].rankchange}}</span>
                    <span ng-if="a.scores[3].rankchange<0" class="negative">{{a.scores[3].rankchange}}</span>
                </td>

                <td ng-show="show_20_5" class="separator" title="{{a.scores[4].breakdown}} ({{a.scores[4].score}})" ng-class="{'empty':(a.scores[4].score=='0'&&a.scores[4]._workout_rank>1)}">{{a.scores[4].scoreDisplay}}<span ng-if="a.scores[4].scoredetails.time" class="time"> ({{time(a.scores[4].scoredetails.time)}})</span></td>
                <td ng-class="{separator:!show_20_5}">{{a.scores[4]._workout_rank}}</td>
                <td ng-show="show_20_5" title="Overall Score: {{a.scores[4]._overall_score}}">{{a.scores[4]._overall_rank}}</td>
                <td ng-show="show_20_5">
                    <span ng-if="a.scores[4].rankchange==0">-</span>
                    <span ng-if="a.scores[4].rankchange>0" class="positive">+{{a.scores[4].rankchange}}</span>
                    <span ng-if="a.scores[4].rankchange<0" class="negative">{{a.scores[4].rankchange}}</span>
                </td>

            </tr>
        </tbody>
        </table>
        <div ng-show="!view" style="font-size:80%;color:#666;">
            <div style="margin-top:10px;"><strong>Data Details</strong></div>
            <div><em>(Athlete lists are loaded at most once per hour, then served from cache)</em></div>

            <div ng-repeat="a in affiliates">
                {{a.athletes[0].entrant.affiliateName}}
                <span ng-if="a.cached">
                retrieved from {{a.cache_source}}, updated {{time(a.cache_age)}} ago.
                </span>
                <span ng-if="!a.cached">
                retrieved from crossfit.com and cached
                </span>
            </div>

            <div ng-repeat="a in individual_athletes">
                {{a.athlete.entrant.competitorName}}
                <span ng-if="a.cached">
                    retrieved from {{a.cache_source}}<span ng-if="!a.local">, updated {{time(a.cache_age)}} ago</span>.
                </span>
                <span ng-if="!a.cached">
                retrieved from crossfit.com and cached
                </span>
            </div>
        </div>

	</div>
</div>

</body>
</html>
