<html>

<head>
	<title>Crossfit Open Leaderboard</title>
	<meta name="title" content="Crossfit Open Affiliate Leaderboard" />
	<meta name="description" content="See how you rank compared to other athletes in your gym, or several gyms. A sortable summary of your 2018 Crossfit Open results!" />
	<meta property="og:image" content="" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/carbon-components@8.16.0/css/carbon-components.min.css" />
    <link type="text/css" rel="stylesheet" href="index.css" />
<script src="angular.js"></script>
<script>
var app = angular.module("App", []);
app.controller("Controller", function($scope, $http, $interval) {
	$scope.sortby = '_rank';
	$scope.sortdesc = false;
	$scope.selected = null;
	$scope.counter = 30;
	$interval(function() {
		$scope.counter--;
		if ($scope.counter<1) {
			window.location.reload(true);
		}
	}, 1000*60 );
	$scope.time = function(s) {
		if (typeof s!="number") { return "x"; }
		var m = Math.floor(s/60);
		s = (s-m*60);
		if (s<10) { s="0"+s; }
		return m+":"+s;
	};
	$scope.sort = function(key,desc) {
		$scope.sortdesc = (key==$scope.sortby) ? !$scope.sortdesc : (typeof desc=="boolean"?desc:false);
		$scope.sortby = key;
	};
	$scope.affiliates = null;
	$scope.athletes = null;
	try {
		$scope.affiliates = location.search.substring(1);
	} catch(e) { } 
	if ($scope.affiliates) {
        // Process each url to build up a list of athletes
        var i=0;
        var a=0;
        var page=1;
        var athletes=[];
        var dataurls = [];
        var aws = 'https://8xd8ar771c.execute-api.us-east-1.amazonaws.com/prod/xray?url=';
        var proxy = true;
        
        var process_affiliate = function(affiliate) {
        
            var dataurl = 'https://games.crossfit.com/competitions/api/v1/competitions/open/2018/leaderboards?affiliate=' + affiliate;
            dataurls = [];
            
            dataurls.push( dataurl + "&division=1&scaled=0" );
            dataurls.push( dataurl + "&division=1&scaled=1" );
            dataurls.push( dataurl + "&division=2&scaled=0" );
            dataurls.push( dataurl + "&division=2&scaled=1" );
            
            // Launch the first request
            request();
            
        };
        var request = function() {
            $scope.load_count++;
            var url = dataurls[i] + "&page="+page;
            console.log(url);
            url = aws + encodeURIComponent( url );
            if (document.getElementById('dotdotdot')) {
                document.getElementById('dotdotdot').innerHTML += " . ";
            }
            $http.get(url).then( function(data) {
                if (data) {
                    data = JSON.parse(data.data.content);
                    if (data && data.leaderboardRows && data.leaderboardRows.length>0) {
                        console.log ( "Athlete Count",data.leaderboardRows.length );
                        athletes = athletes.concat( data.leaderboardRows );
                        page++;
                        if (data.pagination && data.pagination.totalPages && page>data.pagination.totalPages) {
                            i++;
                            page=1;
                        }
                    }
                    else {
                        console.log("No athletes");
                        i++;
                        page=1;
                    }
                    if (i<dataurls.length) {
                        request();
                    }
                    else {
                        // All done with this affiliate!
                        i=0;
                        a++;
                        if (a<affiliates.length) {
                            process_affiliate( affiliates[a] );
                        }
                        else {
                            process_athletes();
                        }
                    }
                }
                else {
                    console.log("OH NO!");
                }
            });
        };
        
        var process_athletes = function() {
            if (athletes && athletes.length>0) {
                // Filter out dupes
                var uniques = {};
                athletes = athletes.filter(function(a) {
                    var id = a.entrant.competitorId;
                    if (uniques[id]) { return false; }
                    uniques[id] = true;
                    return true;
                });
                
                // Fix scores
                athletes.forEach(function(a) {
                    a._total_rank = 0;
                    a._rank = 0;
                    for (var i=0; i<5; i++) {
                        a.scores[i] = a.scores[i] || {};
                        var s = a.scores[i];
                        if (s.score) {
                            s.score = +s.score;
                        }
                        s._workout_rank = null;
                        s._overall_rank = null;
                    }
                });
                
                // For each workout, assign the real workout rank
                for (var i=0; i<5; i++) {
                    // Sort from highest to lowest
                    athletes = athletes.sort(function(a,b) {
                        var as = +a.scores[i].score || 0;
                        var bs = +b.scores[i].score || 0;
                        if (!as && !bs) { return 0; }
                        if (!bs || (as>bs)) { return -1; }
                        if (!as || (as<bs)) { return 1; }
                        return 0;
                    });
                    
                    if (!athletes[0].scores[i].score) { break; }
                    
                    var rank = 0;
                    athletes.forEach(function(a,index) {
                        if (index==0 || a.scores[i].score != athletes[index-1].scores[i].score) {
                            rank++;
                        }
                        a.scores[i]._workout_rank = rank;
                        a.scores[i]._overall_rank += rank;
                        a._total_rank += rank;
                        if (i==0 || a.scores[i-1]._overall_rank==0) {
                            // First workout, overall rank = workout rank
                            a.scores[i].rankchange = 0;
                        }
                        else {
                            // Look back at previous rank
                            a.scores[i].rankchange = rank - a.scores[i-1]._overall_rank;
                        }
                    });
                }
                
                // Now sort by overall rank by default
                athletes = athletes.sort(function(a,b) {
                    var ar = +a._total_rank || 0;
                    var br = +b._total_rank || 0;
                    if (!ar && !br) { return 0; }
                    if (ar>br) { return 1; }
                    if (ar<br) { return -1; }
                    return 0;
                });
                var rank=1;
                athletes.forEach(function(a,i) {
                    if (i>0 && athletes[i]._total_rank != athletes[i-1]._total_rank) {
                        rank++;
                    }
                    a._rank = rank;
                });
                
                $scope.athletes = athletes;
            }
            else {
                $scope.athletes = [];
            }
        };
        
        var affiliates = $scope.affiliates.split(/\s*,\s*/);
        $scope.num_affiliates = affiliates.length;
        
        $scope.load_count = 0;
        $scope.load_total = $scope.num_affiliates * 4;

        process_affiliate(affiliates[a]);

    }
});
</script>
</head>

<body ng-app="App">

<div ng-controller="Controller">

<div ng-if="!affiliates" class="search">
	<h1>Crossfit Open Affiliate Leaderboard</h1>
    
	<p>Enter an affiliate ID (ex: 1234) or multiple comma-separated affiliate ID's (1234,5677).</p>
    <div class="search__box"><input id="a" class="bx--text-input"><input class="bx--btn bx--btn--primary" type="button" value="Go" onclick="window.location=window.location.href.replace(/\?.*/,'')+'?'+document.getElementById('a').value"></div>
    <p>To find an affiliate ID, use Crossfit's <a href="https://games.crossfit.com/search" target="_blank">Search Form</a> to find the affiliate, click on it, and look at the ID in the address of the affiliate's page.</p>
</div>
<div ng-if="affiliates" class="affiliates">
	<div ng-if="athletes==null" class="loading"><div class="bx--loading-overlay">
  <div data-loading class="bx--loading">
    <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
      <title>Loading</title>
      <circle cx="0" cy="0" r="37.5" />
    </svg>
  </div>
  <span class="bx--loading__percent">{{100*(load_count/load_total)}}%</span>
</div></div>
	<div ng-if="athletes && athletes.length==0" class="none-found">No athletes found for that affiliate ID <br><a href="/">Search again</a></div>
	<div ng-if="athletes && athletes.length>0">
    <div class="header__results"><h3>Crossfit Open Leaderboard - <strong>Affiliate {{affiliates}}</strong></h3> <em>(Click column headers to sort, click rows to select)</em> - Auto reload in {{counter}} minutes</div>
    <table class="bx--data-table-v2 bx--data-table-v2--compact">
    <thead>
        <tr>
            <th rowspan="2" ng-click="sort('entrant.competitorName')">Name</th>
            <th rowspan="2" ng-click="sort('entrant.affiliateName')" ng-if="num_affiliates>1">Affiliate</th>
            <th colspan="2">Overall</th>
            <th colspan="2">18.1</th>
            <th colspan="4">18.2</th>
            <th colspan="4">18.3</th>
            <th colspan="4">18.4</th>
            <th colspan="4">18.5</th>
        </tr>
        <tr>
            <th class="workout" ng-click="sort('_rank')">Rank</th>
            <th ng-click="sort('_rank_total')">Score</th>

            <th class="workout" ng-click="sort('scores[0].score')">Score</th>
            <th ng-click="sort('scores[0]._workout_rank')">WO<br>Rank</th>
            
            <th class="workout" ng-click="sort('scores[1].score')">Score</th>
            <th ng-click="sort('scores[1]._workout_rank')">WO<br>Rank</th>
            <th ng-click="sort('scores[1]._overall_rank')">Overall<br>Rank</th>
            <th ng-click="sort('scores[1].rankchange',true)">Rank<br>Change</th>
            
            <th class="workout" ng-click="sort('scores[2].score')">Score</th>
            <th ng-click="sort('scores[2]._workout_rank')">WO<br>Rank</th>
            <th ng-click="sort('scores[2]._overall_rank')">Overall<br>Rank</th>
            <th ng-click="sort('scores[2].rankchange',true)">Rank<br>Change</th>
            
            <th class="workout" ng-click="sort('scores[3].score')">Score</th>
            <th ng-click="sort('scores[3]._workout_rank')">WO<br>Rank</th>
            <th ng-click="sort('scores[3]._overall_rank')">Overall<br>Rank</th>
            <th ng-click="sort('scores[3].rankchange',true)">Rank<br>Change</th>
            
            <th class="workout" ng-click="sort('scores[4].score')">Score</th>
            <th ng-click="sort('scores[4]._workout_rank')">WO<br>Rank</th>
            <th ng-click="sort('scores[4]._overall_rank')">Overall<br>Rank</th>
            <th ng-click="sort('scores[4].rankchange',true)">Rank<br>Change</th>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="a in athletes | orderBy:sortby:sortdesc" ng-click="a.selected = !a.selected" ng-class="{'selected':(a.selected)}">
            <td>{{$index+1}}. <a href="https://games.crossfit.com/athlete/{{a.entrant.competitorId}}" style="color:#006;text-decoration:none;" ng-click="a.selected = !a.selected" target="_blank">{{a.entrant.competitorName}}</a></td>
            <td ng-if="num_affiliates>1">{{a.entrant.affiliateName}}</td>
            <td class="workout">{{a._rank}}</td>
            <td>{{a._total_rank}}</td>
            <td class="workout" title="{{a.scores[0].breakdown}} ({{a.scores[0].score}})" ng-class="{'empty':(a.scores[0].score=='0'&&a.scores[0]._workout_rank>1)}">{{a.scores[0].scoreDisplay}}<span ng-if="a.scores[0].scoredetails.time" class="time"> ({{time(a.scores[0].scoredetails.time)}})</span></td>
            <td>{{a.scores[0]._workout_rank}}</td>
            
            <td class="workout" title="{{a.scores[1].breakdown}} ({{a.scores[0].score}})" ng-class="{'empty':(a.scores[1].score=='0'&&a.scores[1]._workout_rank>1)}">{{a.scores[1].scoreDisplay}}<span ng-if="a.scores[1].scoredetails.time" class="time"> ({{time(a.scores[1].scoredetails.time)}})</span></td>
            <td>{{a.scores[1]._workout_rank}}</td>
            <td>{{a.scores[1]._overall_rank}}</td>
            <td>
                <span ng-if="a.scores[1].rankchange==0">-</span>
                <span ng-if="a.scores[1].rankchange>0" class="positive">+{{a.scores[1].rankchange}}</span>
                <span ng-if="a.scores[1].rankchange<0" class="negative">{{a.scores[1].rankchange}}</span>
            </td>

            <td class="workout" title="{{a.scores[2].breakdown}} ({{a.scores[0].score}})" ng-class="{'empty':(a.scores[2].score=='0'&&a.scores[2]._workout_rank>1)}">{{a.scores[2].scoreDisplay}}<span ng-if="a.scores[2].scoredetails.time" class="time"> ({{time(a.scores[2].scoredetails.time)}})</span></td>
            <td>{{a.scores[2]._workout_rank}}</td>
            <td>{{a.scores[2]._overall_rank}}</td>
            <td>
                <span ng-if="a.scores[2].rankchange==0">-</span>
                <span ng-if="a.scores[2].rankchange>0" class="positive">+{{a.scores[2].rankchange}}</span>
                <span ng-if="a.scores[2].rankchange<0" class="negative">{{a.scores[2].rankchange}}</span>
            </td>

            <td class="workout" title="{{a.scores[3].breakdown}} ({{a.scores[0].score}})" ng-class="{'empty':(a.scores[3].score=='0'&&a.scores[3]._workout_rank>1)}">{{a.scores[3].scoreDisplay}}<span ng-if="a.scores[3].scoredetails.time" class="time"> ({{time(a.scores[3].scoredetails.time)}})</span></td>
            <td>{{a.scores[3]._workout_rank}}</td>
            <td>{{a.scores[3]._overall_rank}}</td>
            <td>
                <span ng-if="a.scores[3].rankchange==0">-</span>
                <span ng-if="a.scores[3].rankchange>0" class="positive">+{{a.scores[3].rankchange}}</span>
                <span ng-if="a.scores[3].rankchange<0" class="negative">{{a.scores[3].rankchange}}</span>
            </td>

            <td class="workout" title="{{a.scores[4].breakdown}} ({{a.scores[0].score}})" ng-class="{'empty':(a.scores[4].score=='0'&&a.scores[4]._workout_rank>1)}">{{a.scores[4].scoreDisplay}}<span ng-if="a.scores[4].scoredetails.time" class="time"> ({{time(a.scores[4].scoredetails.time)}})</span></td>
            <td>{{a.scores[4]._workout_rank}}</td>
            <td>{{a.scores[4]._overall_rank}}</td>
            <td>
                <span ng-if="a.scores[4].rankchange==0">-</span>
                <span ng-if="a.scores[4].rankchange>0" class="positive">+{{a.scores[4].rankchange}}</span>
                <span ng-if="a.scores[4].rankchange<0" class="negative">{{a.scores[4].rankchange}}</span>
            </td>
        </tr>
    </tbody>
    </table>
	</div>

	</div>
</div>

</body>
</html>
